/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter-font-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  
}

/* Miama font */
    @import url('https://fonts.cdnfonts.com/css/miama-nueva');


/* header section */
.bg-color{
    background-color: rgba(17, 17, 17, 1);
}

/* Navbar Styles */

.navbar{
    display: flex;
    font-family: "Inter", sans-serif;
    align-items: center;
    justify-content: space-between;
    padding: 30px 140px;
}
.nav-title{
    font-weight: bolder;
    font-style: italic;
    font-size: 2.5rem;
    color: rgba(230, 83, 60, 1);
}
.nav-info{
    font-family: "Inter", sans-serif;
    list-style: none;
    padding: 5px 5px;
    border: 1px solid rgb(79, 69, 69);
    border-radius: 20px;
    align-items: center;
  
}
nav ul{
    display: flex;
    
}
nav li a{
    text-decoration: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    margin-right: 30px;
}
.nav-btn{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(230, 83, 60, 1);
    padding: 7px 15px;
    border-radius: 15px;
}

/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
}
.miama-font{
    font-family: 'Miama Nueva', sans-serif;

}
                                                
.left-side-banner{
    margin: 50px 100px;
}
.banner-title{
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 3.5rem;
    padding: 10px 200px 0px 10px;

}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    padding: 0px 250px 10px 10px;
    margin-top: 0px;
}
.btn-1{
    background-color: rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px 25px;
    border-radius: 20px;
    margin-left: 5px;
}
.btn-2{
    color: rgba(255, 255, 255, 1);
    padding: 10px 25px;
    background-color: rgba(17, 17, 17, 1);
    border: 1px solid aliceblue;
    border-radius: 20px;
    margin-left: 15px;
}
.btn-primary{
    padding-top: 25px;
}
.banner-img{
    margin: 10px 70px 10px 50px;
}
.right-side-banner{
    color: rgba(255, 255, 255, 1);
}
.box-1{
    width: 25%;
    position: relative;
    text-align: center;
    background-color: rgba(48, 48, 48, 0.54);
    padding: 1px 0px 5px 70px;
    border-radius: 10px;
    margin-top: -200px;
    margin-left: -40px;
}
.box-2{
    width: 30%;
    text-align: center;
    position: relative;
    background-color: rgba(48, 48, 48, 0.54);
    padding: 1px 10px 5px 10px;
    border-radius: 10px;
    margin-top: -400px;
    margin-left: 250px;
}
.round-icon{
    width: 30px;
    padding: 0px 200px 0px 0px;
}

/* Change your habits section styles  */

#habit-container{
    padding: 150px 0px;
    display: grid;
}
.change-habits{
    text-align: center;
    padding-bottom: 80px;
}
.habit-title{
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 2.2rem;
    font-weight: bolder;
}
.habit-description{
    color: rgba(255, 255, 255, 0.5);
}
.box-container{
    display: flex;
    padding: 0px 55px;
    justify-content: space-around;
}
.fitness-title{
    color: rgba(255, 255, 255, 1);
}
.fitness-description{
    color: rgba(255, 255, 255, 0.5);
}
.fitness-img{
    border-radius: 50%;
}
.fitness-box-1, .fitness-box-2, .fitness-box-3, .fitness-box-4{
    text-align: center;
    padding: 0px 20px;
}
/* Run an extra mile section styles */
.extra-mile-box{
    display: flex;
    background-color: rgba(34, 34, 34, 1);
    margin: 0px 90px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

}
.run-container{
    padding: 0px 150px;
}
.run-title{
    font-family: "Inter", sans-serif;
    font-size: 2.3rem;
    color: rgba(255, 255, 255, 1);
}
.run-description{
    color: rgba(255, 255, 255, 0.5);
}
.run-image{
    width: 300px;
    margin-right: 100px;
    border-radius: 20px;
}
/* BMI Calculator Section */
.bmi-title{
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 1);
}
.bmi-description{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0;
}
.bmi-head{
    /* display: flex; */
    border: 1px solid salmon;
    text-align: center;
    
}
.bmi-container{
    display: flex;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 1);
    padding: 50px 0px 50px 0px;
}
.chart-info{
    display: grid;
    grid-template-columns: 150px 150px;
    padding-left: 200px;
}
.chart-head{
    color: rgba(255, 255, 255, 1);
    padding-left: 220px;
}
.item{
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 10px 5px 10px 5px;
}
.bmi-calculate{
    padding: 0px 130px 0px 120px;
    

}
.bmi-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
    
}
.input-item{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 5px 10px 5px;
}
.last-input{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 10px;
    margin-bottom: 10px;
}